/* Cambridge Art */



/* Global */

@import url('https://fonts.googleapis.com/css?family=Dosis:200,400,600,800');

body{
  font-size: 16px;
}



/* Header */

header{
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: #fff;
}

header .container{
  padding-top: 1rem;
  padding-left: 2rem;
  min-height: 7.5rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid #000;
  background-image: url("wine-stain.png");
  background-repeat: no-repeat;
  background-position: center;
}

.branding{
  width: 31.25rem;
  min-height: 3.75rem;
  max-height: 7rem;
}

header h1{
  font-size: 3rem;
  font-family: 'Dosis', sans-serif;
}

header ul{
  margin: 0 auto;
}

header .nav{
  height: 2.5rem;
  font-family: Helvetica;
  width: 15rem;
}

header ul li{
  display: inline;
  padding: 0 0.625rem;
  font-family: 'Dosis', sans-serif;
  color: #000;
}

header a{
  color: #000;
  text-decoration: none;
}


/* Links for Nav */

header li a:link{
  color: #000;
}

header li a:visited{
  font-weight: bold;
}

header li a:hover{
  font-weight: bold;
}


/* Section */

section{
  position: relative;
}

section .container{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 12rem 2rem 5rem 2rem;

}




/* Images */

section img{
  max-width: 15.625rem;
  margin: 1.25rem 1.06rem;
  box-shadow: 2px 2px 4px 5px #000;
}

section img:hover{
  opacity: 1;
}


/* Footer Section */

.footer{
  border-top: 1px solid black;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  padding-left: 2rem;
  font-weight: bold;
  font-size: 0.925rem;
  font-family: 'Dosis', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.follow-me{
  font-size: 1.5em;
  padding-right: 2rem;
}

.follow-me a{
  padding: 0 0.8rem;
  color: rgb(0, 0, 0);
}

.follow-me a:hover{
  
}


/* Media Queries */

@media only screen and (max-width: 480px) {

  header h1{
    text-align: center;
  }

  header .container{
    height: 8rem;
  }
}
  .nav{
    margin: 0 1.25rem;
  }
}

@media only screen and (max-width: 415px) {

  header h1{
    text-align: center;
  }

  header .nav{
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 736px) {

  header .container{
    flex-direction: column;
    align-items: center;
  }

  header .nav{
    margin: 0.8125rem;
  }

  header h1{
    text-align: center;
  }
}

@media only screen and (max-width: 1024px) {

}
